<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>강남 커뮤니티 입니다</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="container">
        <!--header 구간-->
        <header>
            <!--header logo-->
            <div id="logo">
                <a href="{{ url_for('index')}}"><h1>Gangnam</h1></a>
            </div>
            <!--header nav-->
            <nav>
                <ul id="topMenu">
                    <li><a href="#">회원</a>
                        <ul>
                            <li><a href="#">회원 가입</a></li>
                            <li><a href="#">회원 목록</a></li>
                        </ul>
                    </li>
                    <li><a href="#">게시판</a>
                        <ul>
                            <li><a href="#">글목록</a></li>
                            <li><a href="#">글쓰기</a></li>
                        </ul>
                    </li>
                    <li><a href="#">로그인</a></li>
                </ul>
            </nav>
        </header>
        <!--section 구간-->
        <section id="main">
            <h2>안녕하세요. 강남 커뮤니티입니다.</h2>
            <div class="img1">
                <img src="{{ url_for('static', filename='./images/gangnam.jpg') }}">
            </div>
        </section>
        <!--footer 구간-->
        <footer>

        </footer>
    </div>
</body>
</html>